# localstack-terraform

Terraform example

# Requirements

- [] Community
- [] Pro

# Run

```
terraform init

terraform plan

terraform apply --auto-approve
```


## Notes

Use `tfswitch` or `tfenv` to install the required provider version
